# Ignore environment variables
.env

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore temporary files
*.tmp
*.log
*.swp
*~
*.DS_Store

# Ignore virtual environment folders
venv/
env/
.venv/

# Ignore temporary uploads
tmp/
temp/
*.webm
*.wav
*.mp3